/*! UI Icons from jQuery UI. http://jqueryui.com */

/*
 * These icon CSS classes are to be used with the background images found in resources/img/icons/. 
 * 
 * For example, background-image: url( '../../resources/img/icons/ui-icons_222222_256x240.png' )
 */
.jqc-icon {
	width: 16px;
	height: 16px;
}
.jqc-icon-blank { background-position: 16px 16px; }
.jqc-icon-carat-1-n { background-position: 0 0; }
.jqc-icon-carat-1-ne { background-position: -16px 0; }
.jqc-icon-carat-1-e { background-position: -32px 0; }
.jqc-icon-carat-1-se { background-position: -48px 0; }
.jqc-icon-carat-1-s { background-position: -64px 0; }
.jqc-icon-carat-1-sw { background-position: -80px 0; }
.jqc-icon-carat-1-w { background-position: -96px 0; }
.jqc-icon-carat-1-nw { background-position: -112px 0; }
.jqc-icon-carat-2-n-s { background-position: -128px 0; }
.jqc-icon-carat-2-e-w { background-position: -144px 0; }
.jqc-icon-triangle-1-n { background-position: 0 -16px; }
.jqc-icon-triangle-1-ne { background-position: -16px -16px; }
.jqc-icon-triangle-1-e { background-position: -32px -16px; }
.jqc-icon-triangle-1-se { background-position: -48px -16px; }
.jqc-icon-triangle-1-s { background-position: -64px -16px; }
.jqc-icon-triangle-1-sw { background-position: -80px -16px; }
.jqc-icon-triangle-1-w { background-position: -96px -16px; }
.jqc-icon-triangle-1-nw { background-position: -112px -16px; }
.jqc-icon-triangle-2-n-s { background-position: -128px -16px; }
.jqc-icon-triangle-2-e-w { background-position: -144px -16px; }
.jqc-icon-arrow-1-n { background-position: 0 -32px; }
.jqc-icon-arrow-1-ne { background-position: -16px -32px; }
.jqc-icon-arrow-1-e { background-position: -32px -32px; }
.jqc-icon-arrow-1-se { background-position: -48px -32px; }
.jqc-icon-arrow-1-s { background-position: -64px -32px; }
.jqc-icon-arrow-1-sw { background-position: -80px -32px; }
.jqc-icon-arrow-1-w { background-position: -96px -32px; }
.jqc-icon-arrow-1-nw { background-position: -112px -32px; }
.jqc-icon-arrow-2-n-s { background-position: -128px -32px; }
.jqc-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.jqc-icon-arrow-2-e-w { background-position: -160px -32px; }
.jqc-icon-arrow-2-se-nw { background-position: -176px -32px; }
.jqc-icon-arrowstop-1-n { background-position: -192px -32px; }
.jqc-icon-arrowstop-1-e { background-position: -208px -32px; }
.jqc-icon-arrowstop-1-s { background-position: -224px -32px; }
.jqc-icon-arrowstop-1-w { background-position: -240px -32px; }
.jqc-icon-arrowthick-1-n { background-position: 0 -48px; }
.jqc-icon-arrowthick-1-ne { background-position: -16px -48px; }
.jqc-icon-arrowthick-1-e { background-position: -32px -48px; }
.jqc-icon-arrowthick-1-se { background-position: -48px -48px; }
.jqc-icon-arrowthick-1-s { background-position: -64px -48px; }
.jqc-icon-arrowthick-1-sw { background-position: -80px -48px; }
.jqc-icon-arrowthick-1-w { background-position: -96px -48px; }
.jqc-icon-arrowthick-1-nw { background-position: -112px -48px; }
.jqc-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.jqc-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.jqc-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.jqc-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.jqc-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.jqc-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.jqc-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.jqc-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.jqc-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.jqc-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.jqc-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.jqc-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.jqc-icon-arrowreturn-1-w { background-position: -64px -64px; }
.jqc-icon-arrowreturn-1-n { background-position: -80px -64px; }
.jqc-icon-arrowreturn-1-e { background-position: -96px -64px; }
.jqc-icon-arrowreturn-1-s { background-position: -112px -64px; }
.jqc-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.jqc-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.jqc-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.jqc-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.jqc-icon-arrow-4 { background-position: 0 -80px; }
.jqc-icon-arrow-4-diag { background-position: -16px -80px; }
.jqc-icon-extlink { background-position: -32px -80px; }
.jqc-icon-newwin { background-position: -48px -80px; }
.jqc-icon-refresh { background-position: -64px -80px; }
.jqc-icon-shuffle { background-position: -80px -80px; }
.jqc-icon-transfer-e-w { background-position: -96px -80px; }
.jqc-icon-transferthick-e-w { background-position: -112px -80px; }
.jqc-icon-folder-collapsed { background-position: 0 -96px; }
.jqc-icon-folder-open { background-position: -16px -96px; }
.jqc-icon-document { background-position: -32px -96px; }
.jqc-icon-document-b { background-position: -48px -96px; }
.jqc-icon-note { background-position: -64px -96px; }
.jqc-icon-mail-closed { background-position: -80px -96px; }
.jqc-icon-mail-open { background-position: -96px -96px; }
.jqc-icon-suitcase { background-position: -112px -96px; }
.jqc-icon-comment { background-position: -128px -96px; }
.jqc-icon-person { background-position: -144px -96px; }
.jqc-icon-print { background-position: -160px -96px; }
.jqc-icon-trash { background-position: -176px -96px; }
.jqc-icon-locked { background-position: -192px -96px; }
.jqc-icon-unlocked { background-position: -208px -96px; }
.jqc-icon-bookmark { background-position: -224px -96px; }
.jqc-icon-tag { background-position: -240px -96px; }
.jqc-icon-home { background-position: 0 -112px; }
.jqc-icon-flag { background-position: -16px -112px; }
.jqc-icon-calendar { background-position: -32px -112px; }
.jqc-icon-cart { background-position: -48px -112px; }
.jqc-icon-pencil { background-position: -64px -112px; }
.jqc-icon-clock { background-position: -80px -112px; }
.jqc-icon-disk { background-position: -96px -112px; }
.jqc-icon-calculator { background-position: -112px -112px; }
.jqc-icon-zoomin { background-position: -128px -112px; }
.jqc-icon-zoomout { background-position: -144px -112px; }
.jqc-icon-search { background-position: -160px -112px; }
.jqc-icon-wrench { background-position: -176px -112px; }
.jqc-icon-gear { background-position: -192px -112px; }
.jqc-icon-heart { background-position: -208px -112px; }
.jqc-icon-star { background-position: -224px -112px; }
.jqc-icon-link { background-position: -240px -112px; }
.jqc-icon-cancel { background-position: 0 -128px; }
.jqc-icon-plus { background-position: -16px -128px; }
.jqc-icon-plusthick { background-position: -32px -128px; }
.jqc-icon-minus { background-position: -48px -128px; }
.jqc-icon-minusthick { background-position: -64px -128px; }
.jqc-icon-close { background-position: -80px -128px; }
.jqc-icon-closethick { background-position: -96px -128px; }
.jqc-icon-key { background-position: -112px -128px; }
.jqc-icon-lightbulb { background-position: -128px -128px; }
.jqc-icon-scissors { background-position: -144px -128px; }
.jqc-icon-clipboard { background-position: -160px -128px; }
.jqc-icon-copy { background-position: -176px -128px; }
.jqc-icon-contact { background-position: -192px -128px; }
.jqc-icon-image { background-position: -208px -128px; }
.jqc-icon-video { background-position: -224px -128px; }
.jqc-icon-script { background-position: -240px -128px; }
.jqc-icon-alert { background-position: 0 -144px; }
.jqc-icon-info { background-position: -16px -144px; }
.jqc-icon-notice { background-position: -32px -144px; }
.jqc-icon-help { background-position: -48px -144px; }
.jqc-icon-check { background-position: -64px -144px; }
.jqc-icon-bullet { background-position: -80px -144px; }
.jqc-icon-radio-on { background-position: -96px -144px; }
.jqc-icon-radio-off { background-position: -112px -144px; }
.jqc-icon-pin-w { background-position: -128px -144px; }
.jqc-icon-pin-s { background-position: -144px -144px; }
.jqc-icon-play { background-position: 0 -160px; }
.jqc-icon-pause { background-position: -16px -160px; }
.jqc-icon-seek-next { background-position: -32px -160px; }
.jqc-icon-seek-prev { background-position: -48px -160px; }
.jqc-icon-seek-end { background-position: -64px -160px; }
.jqc-icon-seek-start { background-position: -80px -160px; }
/* jqc-icon-seek-first is deprecated, use jqc-icon-seek-start instead */
.jqc-icon-seek-first { background-position: -80px -160px; }
.jqc-icon-stop { background-position: -96px -160px; }
.jqc-icon-eject { background-position: -112px -160px; }
.jqc-icon-volume-off { background-position: -128px -160px; }
.jqc-icon-volume-on { background-position: -144px -160px; }
.jqc-icon-power { background-position: 0 -176px; }
.jqc-icon-signal-diag { background-position: -16px -176px; }
.jqc-icon-signal { background-position: -32px -176px; }
.jqc-icon-battery-0 { background-position: -48px -176px; }
.jqc-icon-battery-1 { background-position: -64px -176px; }
.jqc-icon-battery-2 { background-position: -80px -176px; }
.jqc-icon-battery-3 { background-position: -96px -176px; }
.jqc-icon-circle-plus { background-position: 0 -192px; }
.jqc-icon-circle-minus { background-position: -16px -192px; }
.jqc-icon-circle-close { background-position: -32px -192px; }
.jqc-icon-circle-triangle-e { background-position: -48px -192px; }
.jqc-icon-circle-triangle-s { background-position: -64px -192px; }
.jqc-icon-circle-triangle-w { background-position: -80px -192px; }
.jqc-icon-circle-triangle-n { background-position: -96px -192px; }
.jqc-icon-circle-arrow-e { background-position: -112px -192px; }
.jqc-icon-circle-arrow-s { background-position: -128px -192px; }
.jqc-icon-circle-arrow-w { background-position: -144px -192px; }
.jqc-icon-circle-arrow-n { background-position: -160px -192px; }
.jqc-icon-circle-zoomin { background-position: -176px -192px; }
.jqc-icon-circle-zoomout { background-position: -192px -192px; }
.jqc-icon-circle-check { background-position: -208px -192px; }
.jqc-icon-circlesmall-plus { background-position: 0 -208px; }
.jqc-icon-circlesmall-minus { background-position: -16px -208px; }
.jqc-icon-circlesmall-close { background-position: -32px -208px; }
.jqc-icon-squaresmall-plus { background-position: -48px -208px; }
.jqc-icon-squaresmall-minus { background-position: -64px -208px; }
.jqc-icon-squaresmall-close { background-position: -80px -208px; }
.jqc-icon-grip-dotted-vertical { background-position: 0 -224px; }
.jqc-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.jqc-icon-grip-solid-vertical { background-position: -32px -224px; }
.jqc-icon-grip-solid-horizontal { background-position: -48px -224px; }
.jqc-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.jqc-icon-grip-diagonal-se { background-position: -80px -224px; }