.ui-Button {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
	line-height: normal;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	overflow: visible; /* removes extra width in IE */
	border: none;
}

/* General Button Styles */
.ui-Button-hiddenEl { display: none !important; }

/* Icons */
.ui-Button-icon { display: inline-block; }
.ui-Button-icon-left {}
.ui-Button-icon-right {}

/* button text element */
.ui-Button-text {
	display: inline-block;
	line-height: normal;
}


/* workarounds */
/* reset extra padding in Firefox, see h5bp.com/l */
input.ui-Button::-moz-focus-inner,
button.ui-Button::-moz-focus-inner {
	border: 0;
	padding: 0;
}