.gui-mask-overlay {
	background-color: #000;
	@include opacity( .05 );
}

.gui-mask-content {
	background-color: #FFF;
	padding: 8px;
	border: 1px solid black;
	white-space: nowrap;
}

.gui-mask-spinner {
	margin: 5px;
	height: 16px;
	width: 16px;
	background-image: image-url( 'theme/basic/spinner.gif' );
}

.gui-mask-msg {
	margin-right: 3px;
}