.gui-button {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
	line-height: normal;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	overflow: visible; /* removes extra width in IE */
	border: none;
}

/* General Button Styles */
.gui-button-hiddenEl { display: none !important; }

/* Icons */
.gui-button-icon { display: inline-block; }
.gui-button-icon-left {}
.gui-button-icon-right {}

/* button text element */
.gui-button-text {
	display: inline-block;
	line-height: normal;
}