.jqc-button {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
	line-height: normal;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	overflow: visible; /* removes extra width in IE */
	border: none;
}

/* General Button Styles */
.jqc-button-hiddenEl { display: none !important; }

/* Icons */
.jqc-button-icon { display: inline-block; }
.jqc-button-icon-left {}
.jqc-button-icon-right {}

/* button text element */
.jqc-button-text {
	display: inline-block;
	line-height: normal;
}