.jqGui-panel-header { border: 1px solid #000; border-width: 0 0 1px 0; background-color: #2383B3; padding: 2px; }
.jqGui-panel-header-title { font-weight: bold; color: #FFF; }
.jqGui-panel-header-toolButtons { margin-top: 2px; margin-right: 2px; }
