.jqc-Panel-Header { border: 1px solid #000; border-width: 0 0 1px 0; background-color: #2383B3; padding: 2px; }
.jqc-Panel-Header-title { font-weight: bold; color: #FFF; }
.jqc-Panel-Header-toolButtons { margin-top: 2px; margin-right: 2px; }
