.ui-Panel { border-color: #000; border-style: solid; border-width: 0 1px 1px 1px; }

.ui-Panel-header { border-color: #000; border-style: solid; border-width: 1px 0 0 0; background-color: #C2EBFF; }
.ui-Panel-header-title { font-weight: bold; }
.ui-Panel-header-toolButtons { margin-top: 2px; margin-right: 2px; }

.ui-Panel-body { border-color: #000; border-style: solid; border-width: 1px 0 0 0; }