.gui-panel-toolbutton {
	width: 15px;
	height: 15px;
	border: none;
}

.gui-panel-toolbutton .gui-button-icon {
	top: -1px;
	left: -2px;
}

.gui-panel-toolbutton-icon {
	background-image: image-url( 'theme/basic/ui-icons_2694e8_256x240.png' )
}

.gui-panel-toolbutton-icon-close { @extend %gui-icon-close; }