.jqc-ToolButton {
	width: 15px;
	height: 15px;
}

.jqc-ToolButton .jqc-Button-icon {
	top: -1px;
	left: -2px;
}

.jqc-ToolButton-icon {
	background-image: url( '../../../../resources/img/icons/ui-icons_222222_256x240.png' )
}