.gui-panel-toolbutton {
	width: 15px;
	height: 15px;
}

.gui-panel-toolbutton .gui-button-icon {
	top: -1px;
	left: -2px;
}

.gui-panel-toolbutton-icon {
	background-image: url( '../../../../resources/img/icons/ui-icons_222222_256x240.png' )
}