.jqGui-window {
  @extend .jqGui-overlay;
}

.jqGui-window-header {}
.jqGui-window-header-innerCt {}
.jqGui-window-header-title { float: left; }
.jqGui-window-header-toolButtons { float: right; }

.jqGui-window-body {}


.jqGui-window-modalMask { position: absolute; top: 0; left: 0; }