.gui-window {
  @extend .gui-overlay;
}

.gui-window-header {}
.gui-window-header-innerCt {}
.gui-window-header-title { float: left; }
.gui-window-header-toolButtons { float: right; }

.gui-window-body {}


.gui-window-modalMask { position: absolute; top: 0; left: 0; z-index: 999; }