/* This is for the custom implementation of dropdowns, which don't use the html <select> element 
============================================================================================== */
.jqc-form-field-dropdown {
	position: relative;
	left: 0px; 
	top: 0px;
}

/* For IE, need an iframe to cover certain elements */
iframe.jqc-form-field-dropdown-shim { position: absolute; z-index: 1; width: 100%; left: 0px; top: 0px; }

.jqc-form-field-dropdown-dropdownContainer {}

/* The box that shows the selected option's text */
.jqc-form-field-dropdown-selectText {
	overflow-x: hidden;
	white-space: nowrap;
	background: none transparent;
	cursor: pointer;
}

.jqc-form-field-dropdown-openButton {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
	cursor: pointer;
}


// The dropdown menu itself. This is appended to the document body
.jqc-form-field-dropdown-menu {
	position: absolute;
	list-style: none;
	display: none;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	z-index: 5000;
}

.jqc-form-field-dropdown-menu-item {
	cursor: pointer;
}
.jqc-form-field-dropdown-menu-item-selected {}