.ui-form-Field {
	margin: 0;
	padding: 0;
	width: 100%;  // default to taking up 100% width
	
	border-collapse: collapse;
	tbody, tr, th { margin: 0; padding: 0; }
	
	&.ui-form-Field-leftLabel {}
	&.ui-form-Field-topLabel {}
	&.ui-form-Field-focused {}
}

.ui-form-Field-leftLabelCell { margin: 0; padding: 0; vertical-align: top; }
.ui-form-Field-topLabelCell {}
.ui-form-Field-label {}

.ui-form-Field-inputCell { vertical-align: top; }
.ui-form-Field-inputContainer {}

.ui-form-Field-extraMsgCell {}
.ui-form-Field-extraMsg {}
