.gui-window { border-top: 5px solid #2A9DD7; border-right: 1px solid #CCC; border-bottom: 1px solid #CCC; border-left: 1px solid #CCC; }

.gui-window-header { background-color: #FFF; }
.gui-window-header-title { padding: 3px 5px; font-size: 14px; font-weight: bold; color: #2A9DD7; }
.gui-window-header-toolButtons { 
	@extend .gui-panel-header-toolButtons;
	padding-top: 1px;
}

.gui-window-body { border-top: 1px solid #CCC; background-color: #FFF; }

.gui-window-modalMask { background-color: #CCC; @include opacity( 0.2 ); }
