.jqg-button {
	border: 1px solid #D3D3D3;
}

.jqg-button-hover {
	border: 1px outset #999;
}
.jqg-button-active {
	border: 1px inset #AAA;
}


.jqg-button-icon {
	position: relative;
	top: 2px;
	
	width: 16px; 
	height: 16px;
}

.jqg-button-text {
	padding: 2px 6px;
	text-decoration: none;
}
