/* This is for the custom implementation of dropdowns, which don't use the html <select> element 
============================================================================================== */
.ui-form-Field-Dropdown {
	position: relative;
	left: 0px; 
	top: 0px;
}
	
/* For IE, need an iframe to cover certain elements */
iframe.ui-form-Field-Dropdown-shim { position: absolute; z-index: 1; width: 100%; left: 0px; top: 0px; }
	
/* The box that shows the selected option's text */
.ui-form-Field-Dropdown-selectText {
	overflow-x: hidden;
	white-space: nowrap;
	background: none transparent;
	cursor: pointer;
}

.ui-form-Field-Dropdown-openButton {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
	cursor: pointer;
}


// The dropdown menu itself. This is appended to the document body
.ui-form-Field-Dropdown-menu {
	position: absolute;
	list-style: none;
	display: none;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	z-index: 5000;
}

.ui-form-Field-Dropdown-menu-item {
	cursor: pointer;
}
.ui-form-Field-Dropdown-menu-item-selected {}