.ui-form-Field {
	margin: 0;
	padding: 0;
	width: 100%;  // default to taking up 100% width
	
	border-collapse: collapse;
	tbody, tr, th, td { margin: 0; padding: 0; }
	
	&.ui-form-Field-leftLabel {}
	&.ui-form-Field-topLabel {}
	&.ui-form-Field-focused {}
	
	
	/* A "reset" for text and select elements */
	input.ui-form-Field-Text, 
	select,
	textarea {
		background: none transparent;
		border: none;
		width: 100%;
		margin: 0;
		padding: 0;   /* Override some user agent style sheets, like Chrome which puts on 1px and can cause scroll bars to appear */
	}

	input.ui-form-Field-Text:focus,
	select:focus,
	textarea:focus {
		outline: 0;   /* Override some user agent style sheets, like Chrome which has a 5px outline */
	}
}

.ui-form-Field-leftLabelCell { vertical-align: top; }
.ui-form-Field-topLabelCell {}
.ui-form-Field-label {}

.ui-form-Field-inputCell { vertical-align: top; }
.ui-form-Field-inputContainer {}

.ui-form-Field-extraMsgCell {}
.ui-form-Field-extraMsg {}
