.ui-form-TextField {}

.ui-form-TextField-input {
	background: none transparent;
	border: none;
	width: 100%;
	margin: 0;
	padding: 0;   /* Override some user agent style sheets, like Chrome which puts on 1px and can cause scroll bars to appear */
}

.ui-form-TextField-input:focus {
	outline: 0;   /* Override some user agent style sheets, like Chrome which has a 5px outline */
}